/*       RESET       */
@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
.block_1 {
   background-image: url("../img/house.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.container_1 {
   font-family: "Poppins";
   padding: 330px 0 100px 100px; 
}
.container_1_date {
   font-weight: 300;
   font-size: 12px;
   line-height: 20px;
   color: #E5E5E5;
   width: 68px;
   padding: 330px 1272px 250px 100px;
}
.container_1_title {
   font-weight: 700;
   width: 605px;
   font-size: 25px;
   line-height: 40px;
   color: #F8F9FA;
   padding: 30px 0 0 0;
}
.container_1_text {
   font-weight: 300;
   font-size: 12px;
   line-height: 20px;
   color: #E5E5E5;
   height: 40px;
   width: 360px;
   padding: 30px 0 100px 0;
}
/* ----------PART 2------------ */

.lists {
   font-family: "Inter";
   padding: 100px 0 150px 0;
   width: 1120px;
   margin: 0 auto;
}
.lists_title {
   padding: 0 0 45px 0;
}
.lists_title {
   font-weight: 400;
   font-size: 26px;
   line-height: 28px;
   color: #212B36;
}
.block_2,
.block_3,
.block_4 {
   display: inline-block;
}
.lists_block li{
   font-weight: 700;
   font-size: 16px;
   line-height: 16px;
   color: #637381;
   margin: 0 0 20px 0;
}

.container_2_dot,
.container_3_tick_blue,
.container_4_tick_green {
   margin: 0 77px 60px 0;
}
/* при падінг 0, воно стає приблизно на 10px нижче першого ствопця */
.container_3_tick_blue,
.container_4_tick_green {
   padding: 0 0 0.1px 0;
}
.container_2_dot_list li {
   line-height: 15px;
   margin: 0 0 18px 0;
   background: url("../img/icons/Ellipse\ 2744.png") 0 4px / 16px no-repeat;
   min-height: 15px;
   padding: 0 0 0 23px;
}
.container_3_tick_blue_list li {
   background: url("../img/icons/Group.png") 0 center / 16px no-repeat;
   padding: 0 0 0 23px;
   min-height: 16px;
}
.container_4_tick_green_list li {
   background: url("../img/icons/checkmark-circle\ \(2\)\ 1.png") 0 center / 16px no-repeat;
   padding: 0 0 0 23px;
   min-height: 16px;
}
.container_2_cross_list li {
   background: url("../img/icons/cross-circle\ \(1\)\ 1.png") 0 center / 16px no-repeat;
   padding: 0 0 0 23px;
   min-height: 16px;
}
.container_3_vector  li{
   background: url("../img/icons/Vector.png") 0 center / 16px no-repeat;
   padding: 0 0 0 23px;
   min-height: 16px;
}
.container_4_star_list li {
   background: url("../img/icons/star\ \(1\)\ 1.png") 0 center / 16px no-repeat;
   padding: 0 0 0 23px;
   min-height: 16px;
}
/* ---------PART 3 ---------- */


.block_5 {
   font-family: "Inter";
   background-image: url("..//img/Rectangle\ 4924.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.block_5_text {
   padding: 145px 0 146px 135px;
}
.price {
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   color: #3056D3;
}
.title {
   font-weight: 700;
   font-size: 36px;
   line-height: 45px;
   color: #212B36;
   width: 470px;
   height: 90px;
   padding: 13px 0 0 0;
   margin: 0 0 28px 0;
}
.text {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #637381;
   height: 48px;
   width: 570px;
   margin: 0 0 40px 0;

}
.link {
   padding: 10px 30px;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   width: 139px;
   height: 44px;
   background: #3056D3;
   border-radius: 30px;
}
.block_5 {
   background:url("../img/speaker\ 1.png") 65% center / 15% no-repeat, url("../img/Vector\ 18.png")  100% 0px / 50% no-repeat, linear-gradient(90deg, rgba(48, 86, 211, 0.08) 16.13%, rgba(48, 86, 211, 0) 86.29%);
}