/*       RESET       */
@import url("reset.css");

/* Шрифт: Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
/* Шрифт: Robooto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Шрифт: Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
/* Шрифт: Cousine_normal */
@font-face {
   font-family: 'Cousine';
   src: url('../fonts/Cousine-Regular.woff2') format('woff2'),
       url('../fonts/Cousine-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
/* Шрифт: Cousine_bold */
@font-face {
   font-family: 'Cousine';
   src: url('../fonts/Cousine-Bold.woff2') format('woff2'),
       url('../fonts/Cousine-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
/* Шрифт: Arimo_normal */
@font-face {
   font-family: 'Arimo';
   src: url('../fonts/Arimo-Regular.woff2') format('woff2'),
       url('../fonts/Arimo-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

.title {
   font-family: Oswald;
   font-weight: bold;
   font-size: 50px;
   color: green;
   text-align: center;
   letter-spacing: 4px;
}
.title_2 {
   font-family: Cousine;
   color: blue;
   letter-spacing: 2px;
   text-decoration: underline;
}
.content_title {
   font-family: Arimo;
   font-size: 36px;
   line-height: 2;
   text-align: center;
   letter-spacing: 10px;
   color: rgba(255, 0, 128, 0.521);
   text-decoration: underline;
   text-shadow: 2px 2px 5px hotpink;
}
.content_list {
   font-family: lora;
   font-style: italic; 
   color: indigo; 
   word-spacing: 3px;
}
.meaning_title {
   font-family: Roboto;
   font-weight: bold;
   text-align: center;
   font-size: 30px;
   letter-spacing: 2px;
}
.meaning_text {
   font-family: roboto;
   color: red;
   font-weight: 300;
   text-align: justify;
   text-shadow: 1px 1px royalblue;
}
.level_title {
   font-family: Lora;
   font-weight: 700;
   text-align: center;
   font-size: 25px;
   text-shadow: 1px 2px #000;
   text-decoration: underline;
   text-transform: uppercase;
}
.level_first_title {
   font-family: Arimo;
   font-size: 20px;
   line-height: 3;
   white-space: nowrap;
}
.level_first_text p {
   text-transform: capitalize;
   text-align: right;
   font-family: roboto;
   font-size: 18px;
   color: salmon;
}
.level_first_text > ul {
   color: sienna;
   font-family: lora;
   font-style: italic;
   text-align: center;
}
.level_two_title {
   text-align: end;
   font-family: Cousine;
   font-weight: bold;
   font-size: 20px;
}
.level_two_text {
   font-family: arial;
   font-weight: 300;
   color: steelblue;
   font-style: italic;
   letter-spacing: 2px;
}
.level_two_text > ul {
   font-family: oswald;
   font-size: 19px;
   font-weight: 300;
   color: teal;
}
.level_two_text p {
   font-family: lora;
   font-weight: 700;
   text-transform: uppercase;
}
.level_three_title {
   font-family: roboto;
   font-weight: 700;
   text-shadow: hoff voff blur #000;
}
.level_three_text {
   font-family: Lora;
   font-weight: 700;
   color: thistle;
   text-align: center;
   text-transform: capitalize;
}
.level_three_text li {
   text-align: left;
   line-height: 2;
   font-size: 11px;
   color: blueviolet;
   letter-spacing: 2px;
}
.level_four_title {
   font-family: roboto;
   text-decoration: underline;
   text-transform: uppercase;
   text-align: center;
   font-size: 25px;
   line-height: 3;
   word-spacing: 10px;
   color: rgba(93, 172, 93, 0.534);
}
.level_four_text {
   color: rgba(255, 124, 124, 0.699);
   font-family: cousine;
   font-weight: 700;
   word-spacing: 6px;
   line-height:30px;
}
.level_five_title,
.level_five_text {
   font-family: Lora;
   font-style: italic;
   font-weight: 700;
   text-align: center;
   color: hotpink;
   line-height: 4;
}



